{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Electrical HTML Template</title>
	<link rel="shortcut icon" href="{% static 'app/images/fav.png' %}" type="image/png" />
	<!-- CSS preloader -->
	<link href="{% static 'app/css/loader.css' %}" rel="stylesheet" />
	<!-- Bootstrap core CSS -->
	<link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet" />
	<!-- Custom styles for this template -->
	<link href="{% static 'app/css/electrical-template.css' %}" rel="stylesheet" />
	<link href="{% static 'app/css/logo.css' %}" rel="stylesheet" />
	<!-- CSS modules -->
	<link href="{% static 'app/css/icomoon.css' %}" rel="stylesheet" />
	<link href="{% static 'app/css/flexslider.css' %}" rel="stylesheet" />
	<link href="{% static 'app/css/sfmenu.css' %}" rel="stylesheet" />
	<link href="{% static 'app/css/glide-slider.css' %}" rel="stylesheet" />
	<link href="{% static 'app/css/jquery.jscrollpane.css' %}" rel="stylesheet" />
	<link href="{% static 'app/css/isotope.css' %}" rel="stylesheet" />
	<link href="{% static 'app/fonts/flaticon-electrical/flaticon.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
		integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style>
		.galleryrow {
			display: -ms-flexbox;
			/* IE10 */
			display: flex;
			-ms-flex-wrap: wrap;
			/* IE10 */
			flex-wrap: wrap;
			padding: 0 4px;
		}


		/* Create four equal columns that sits next to each other */
		.gallerycolumn {
			flex: 25%;
			max-width: 25%;
			padding: 0 4px;
		}

		.gallerycolumn img {
			margin-top: 8px;
			vertical-align: middle;
			width: 100%;
		}

		/* Responsive layout - makes a two column-layout instead of four columns */
		@media screen and (max-width: 800px) {
			.gallerycolumn {
				flex: 50%;
				max-width: 50%;
			}
		}

		/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
		@media screen and (max-width: 600px) {
			.gallerycolumn {
				flex: 100%;
				max-width: 100%;
			}
		}
	</style>
</head>

<body class="responsive">
	<div class="loader">
		<div class="bubblingG"> <span id="bubblingG_1"> </span> <span id="bubblingG_2"> </span> <span id="bubblingG_3">
			</span> </div>
	</div>
	<!-- Off Canvas Menu -->
	<nav id="off-canvas-menu">
		<div id="off-canvas-menu-title">
			MENU<span class="icon icon-cancel-3" id="off-canvas-menu-close"></span>
		</div>
		<ul class="expander-list">
			<li>
				<span class="name"><a href="{% url 'index' %}" class="btn-main">Home</a></span>
			</li>
			<li>
				<span class="name"><a href="{% url 'services' %}" class="btn-main">Services</a></span>
			</li>
			<li>
				<span class="name"><a href="{% url 'rates' %}" class="btn-main">Rates</a></span>
			</li>
			<li>
				<span class="name"><a href="{% url 'faq' %}" class="btn-main">FAQ</a></span>
			</li>
			<li>
				<span class="name"><a href="{% url 'reviews' %}" class="btn-main">Reviews</a></span>
			</li>
			<li>
				<span class="name"><a href="{% url 'contacts' %}" class="btn-main">Contact Us</a></span>
			</li>
		</ul>
	</nav>
	<!-- //end Off Canvas Menu -->

	<div id="outer">
		<div id="outer-canvas">
			<!-- Navbar -->
			<header>
				<!-- Back to top -->
				<div class="back-to-top">on top</div>
				<!-- //end Back to top -->
				<section class="navbar">
					<div class="background">
						<div class="container">
							<!-- Logo -->
							<div class="navbar-logo pull-left"> <img src="{% static 'app/images/electrical/logo.gif' %}"
									alt="" /> <a class="logo" href="index.html">MB&nbsp;Electricals</a>
								<div class="header-img"><img src="{% static 'app/images/electrical/header-img.png' %}"
										alt="" /></div>
							</div>
							<!-- //end Logo -->
							<!-- Phone -->
							<div class="navbar-contact pull-right">
								<a href="tel:9601657865" class="
										btn btn-default btn-labeled
										pull-right
									">
									<span class="btn-label"><i class="icon icon-mobile"></i></span>Request a
									callback</a>
								<div class="navbar-phone pull-right">
									24/7 Emergency Service, Call<strong>
										960-165-7865</strong>
								</div>
							</div>
							<!-- //End Phone -->
						</div>
						<!-- Main menu -->
						<div id="navbar-main-menu-outer">
							<div class="container">
								<dl class="navbar-main-menu hidden-xs">
									<dt class="item">
										<a href="{% url 'index' %}" class="btn-main">Home</a>
									</dt>
									<dd></dd>
									<dt class="item">
										<a href="{% url 'services' %}" class="btn-main">Services</a>
									</dt>
									<dd></dd>
									<dt class="item">
										<a href="{% url 'rates' %}" class="btn-main">Rates</a>
									</dt>
									<dd></dd>
									<dt class="item">
										<a href="{% url 'faq' %}" class="btn-main">FAQ</a>
									</dt>
									<dd></dd>
									<dt class="item">
										<a href="{% url 'reviews' %}" class="btn-main">Reviews</a>
									</dt>
									<dd></dd>
									<dt class="item">
										<a href="{% url 'contacts' %}" class="btn-main">Contact Us</a>
									</dt>
									<dd></dd>
								</dl>
								<!-- Search -->
								<form class="
									navbar-search
									form-inline
									visible-lg
									pull-right
								" role="form">
									<div class="form-group">
										<button type="submit" class="button">
											<span class="icon-search-2"></span>
										</button>
										<input type="text" class="form-control" value="Search"
											onblur="if (this.value == '') {this.value = 'Search';}"
											onfocus="if(this.value == 'Search') {this.value = '';}" />
									</div>
								</form>
								<!-- //end Search -->
							</div>
						</div>

						<!-- //end Main menu -->
					</div>
					<!-- Mobile menu -->
					<div class="container visible-xs">
						<div class="mobile-nav row">
							<div class="nav-item item-01"><a href="#" id="off-canvas-menu-toggle"><span
										class="icon icon-list-4"></span></a></div>
							<div class="nav-item item-02"><a href="#"></a></div>
							<div class="nav-item item-03"><a href="#"></a></div>
							<div class="nav-item item-04"><a href="#"><span class="icon icon-search-2"></span></a>
								<div class="tab-content">
									<!-- Search -->
									<form class="navbar-search form-inline" role="form">
										<div class="form-group">
											<button type="submit" class="button"><span
													class="icon-search-2"></span></button>
											<input type="text" class="form-control" value="Search"
												onblur="if (this.value == '') {this.value = 'Search';}"
												onfocus="if(this.value == 'Search') {this.value = '';}">
										</div>
									</form>
									<!-- //end Search -->
								</div>
							</div>
						</div>
					</div>

					<!-- //end Mobile menu -->
					<!-- Navbar switcher -->
					<div class="navbar-switcher-container">
						<div class="navbar-switcher"> <span class="i-inactive"><img
									src="/static/app/images/electrical/icon-electric.png" alt=""></span> <span
								class="i-active icon-cancel-3"></span> </div>
					</div>
					<!-- //end Navbar switcher -->

				</section>

				<!-- Navbar height -->
				<div class="navbar-height-inner"></div>
				<!-- Navbar height -->

				<!-- Navbar height -->
				<div class="navbar-height"></div>
				<!-- Navbar height -->

			</header>
			<!-- //end Navbar -->

			<!-- Social widgets -->

			<!-- //end Social widgets -->
			<!-- Breadcrumbs -->
			<section class="container">
				<nav class="breadcrumbs"> <a href="{% url 'index' %}">Home</a> <span class="divider">&#8250;</span>
					Reviews </nav>
			</section>
			<!-- //end Breadcrumbs -->
			<section class="content grey-container">
				<div class="container" id="gallerycontainer">
					<h2>Reviews</h2>
					<div class="galleryrow" id="galleryrowid">

					</div>
				</div>
				<div class="divider-lg"></div>
				<div class="text-center"><button id="loadmore" class="btn-default btn-lg">More Images</button></div>
				<div class="divider-lg"></div>
		</div>
		</section>
		<!-- Social navbar -->
		<section class="content nopad-xs">
			<div class="container">
				<div class="row">
					
					<div class="col-sm-6 col-md-6 col-lg-6 collapsed-block">
						<h4>FIND US ON<a class="expander visible-xs" href="#TabBlock-2">+</a></h4>
						<div class="tabBlock" id="TabBlock-2">
							<ul class="find-us">
								<li class="divider">
									<a href="https://www.instagram.com/m.b_electrical_and_service/" target="_blank" class="animate-scale"><span class="icon icon-instagram-2"></span></a>
								</li>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- //end Social navbar -->

		<!-- Footer -->
		<footer>
			<section class="footer-navbar">
				<div class="container content nopad-xs">
					<div class="row">
						<div class="col-sm-6 col-md-4 col-lg-4 hidden-xs animate fadeUp">
							<div class="copyright-text"> © 2021 MB Electricals. All Rights Reserved. </div>
								<div class="footer-logo"><img src="/static/app/images/electrical/logo.png" alt=""
										class="img-responsive" /><a href="#"><span class="color">MB</span>
										Electricals</a></div>
						</div>
						<div class="col-sm-6 col-md-8 col-lg-8">
							<div class="row">
								<div class="col-sm-6 col-md-4 col-lg-4  collapsed-block animate fadeUp">
									<h5>Information<a class="expander visible-xs" href="#TabBlock-3">+</a></h5>
									<div class="tabBlock" id="TabBlock-3">
										<ul class="menu">
											<a href="{% url 'contacts' %}">Contact Us</a>

										</ul>
									</div>
								</div>
								<div class="clearfix visible-sm"></div>
								<div class="col-sm-6 col-md-4 col-lg-4  collapsed-block animate fadeUp">
									<h5>Customer service<a class="expander visible-xs" href="#TabBlock-4">+</a></h5>
									<div class="tabBlock" id="TabBlock-4">
										<ul class="menu">
											<a href="{% url 'faq' %}">Help & FAQs</a>

										</ul>
									</div>
								</div>
								<div class="col-sm-6 col-md-4 col-lg-4 collapsed-block animate fadeUp">
									<h5>CUSTOM HTML BLOCK<a class="expander visible-xs" href="#TabBlock-6">+</a>
									</h5>
									<div class="tabBlock" id="TabBlock-6">
										<ul class="menu">
											<li><span class="icon icon-house"></span> 7563 St. Vincent Place,
												Glasgow</li>
											<li><span class="icon icon-phone-4"></span> 321321321, 321321321</li>
											<li><span class="icon icon-envelop"></span> <a
													href="mailto:info@mydomain.com">info@mydomain.com</a></li>
											<li><span class="icon icon-skype-2"></span> <a href="#">shop.test</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</footer>
		<div id="outer-overlay"></div>
		<!-- //end Footer -->
	</div>
	</div>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

	<script src="{% static 'app/js/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'app/js/jquery.ui.touch-punch.min.js' %}"></script>
	<script src="{% static 'app/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'app/js/jquery.flexslider.js' %}"></script>
	<script src="{% static 'app/js/jquery.parallax.js' %}"></script>
	<script src="{% static 'app/js/jquery.inview.js' %}"></script>
	<script src="{% static 'app/js/superfish.js' %}"></script>
	<script src="{% static 'app/js/supersubs.js' %}"></script>
	<script src="{% static 'app/js/jquery.isotope.min.js' %}"></script>
	<script src="{% static 'app/js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'app/js/jquery.glide.js' %}"></script>
	<script src="{% static 'app/js/jquery.lettering-0.6.min.js' %}"></script>
	<script src="{% static 'app/js/jquery.jscrollpane.min.js' %}"></script>
	<script src="{% static 'app/js/electrical.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
		integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

	<script>
		$('.gallery').magnificPopup({

			type: 'image',
			delegate: 'a',
			removalDelay: 300,
			mainClass: 'mfp-with-fade',

			gallery: {
				enabled: true
			}

		});

		function appendHtml(el, str) {
			var div = document.createElement('div');
			div.innerHTML = str;
			while (div.children.length > 0) {
				el.appendChild(div.children[0]);
			}
		}

		let gallerycolumn = [],
			galleryrow;
		galleryrow = document.getElementById('galleryrowid');
		for (let index = 0; index < 4; index++) {
			gallerycolumn[index] = document.createElement('div');
			gallerycolumn[index].classList.add('gallerycolumn');
			gallerycolumn[index].classList.add('gallery');
			galleryrow.appendChild(gallerycolumn[index])
		}
		let pagecount = 1;
		let loadmore = document.getElementById('loadmore'); // selecting the form
		loadmore.addEventListener('click', function (event) { // 1
			event.preventDefault()
			console.log("loadmore");
			var gallerycontainer = document.querySelector("#gallerycontainer");

			axios.get('/getimages', {
					params: {
						pagecount
					}
				}) // 4
				.then((response) => {
					console.log(pagecount);
					console.log("response", response.data);
					console.log(response.data.length);
					if (response.data.length > 0) {
						pagecount++;


						for (let index = 0; index < response.data.length; index++) {
							console.log("index", index);
							if (index % 4 == 0) {
								console.log("start1");
								let anchortag = document.createElement('a');
								anchortag.setAttribute('href', `/media/${response.data[index].Image}`);
								gallerycolumn[0].appendChild(anchortag)
								console.log(index);
								let imgtag = document.createElement('img');
								imgtag.setAttribute('src', `/media/${response.data[index].Image}`);
								imgtag.setAttribute('style', 'width: 100%;');
								anchortag.appendChild(imgtag)
								console.log("end1");

							} else if (index % 4 == 1) {
								console.log("start2");
								let anchortag = document.createElement('a');
								anchortag.setAttribute('href', `/media/${response.data[index].Image}`);
								gallerycolumn[1].appendChild(anchortag)
								console.log(index);
								let imgtag = document.createElement('img');
								imgtag.setAttribute('src', `/media/${response.data[index].Image}`);
								imgtag.setAttribute('style', 'width: 100%;');
								anchortag.appendChild(imgtag)
								console.log("end2");

							} else if (index % 4 == 2) {
								console.log("start3");
								let anchortag = document.createElement('a');
								anchortag.setAttribute('href', `/media/${response.data[index].Image}`);
								gallerycolumn[2].appendChild(anchortag)
								console.log(index);
								let imgtag = document.createElement('img');
								imgtag.setAttribute('src', `/media/${response.data[index].Image}`);
								imgtag.setAttribute('style', 'width: 100%;');
								anchortag.appendChild(imgtag)
							} else if (index % 4 == 3) {
								let anchortag = document.createElement('a');
								anchortag.setAttribute('href', `/media/${response.data[index].Image}`);
								gallerycolumn[3].appendChild(anchortag)
								console.log(index);
								let imgtag = document.createElement('img');
								imgtag.setAttribute('src', `/media/${response.data[index].Image}`);
								imgtag.setAttribute('style', 'width: 100%;');
								anchortag.appendChild(imgtag)
							}
						}
					}
					console.log("gallery", galleryrow);
					gallerycontainer.appendChild(galleryrow)
					$('.gallery').magnificPopup({

						type: 'image',
						delegate: 'a',
						removalDelay: 300,
						mainClass: 'mfp-with-fade',

						gallery: {
							enabled: true
						}

					});



				}) // 5
				.catch(function () {

				}) // 6
		})
		document.getElementById("loadmore").click();
	</script>

</body>

</html>