{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Electrical HTML Template</title>
	<link rel="shortcut icon" href="fav.png" type="image/png">
	<!-- CSS preloader -->
	<link href="{% static 'app/css/loader.css' %}" rel="stylesheet">
	<!-- Bootstrap core CSS -->
	<link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="{% static 'app/css/electrical-template.css' %}" rel="stylesheet">
	<link href="{% static 'app/css/logo.css' %}" rel="stylesheet">
	<!-- CSS modules -->
	<link href="{% static 'app/css/icomoon.css' %}" rel="stylesheet">
	<link href="{% static 'app/css/flexslider.css' %}" rel="stylesheet">
	<link href="{% static 'app/css/sfmenu.css' %}" rel="stylesheet">
	<link href="{% static 'app/css/glide-slider.css' %}" rel="stylesheet">
	<link href="{% static 'app/css/jquery.jscrollpane.css' %}" rel="stylesheet">
	<link href="{% static 'app/fonts/flaticon-electrical/flaticon.css' %}" rel="stylesheet">
</head>

<body class="responsive">
	<div class="loader">
		<div class="bubblingG"> <span id="bubblingG_1"> </span> <span id="bubblingG_2"> </span> <span id="bubblingG_3">
			</span> </div>
	</div>
	<!-- Off Canvas Menu -->
	<nav id="off-canvas-menu">
		<div id="off-canvas-menu-title">
			MENU<span class="icon icon-cancel-3" id="off-canvas-menu-close"></span>
		</div>
		<ul class="expander-list">
			<li>
				<span class="name"><a href="{% url 'index' %}" class="btn-main">Home</a></span>
			</li>
			<li>
				<span class="name"><a href="{% url 'services' %}" class="btn-main">Services</a></span>
			</li>
			<li>
				<span class="name"><a href="{% url 'rates' %}" class="btn-main">Rates</a></span>
			</li>
			<li>
				<span class="name"><a href="{% url 'faq' %}" class="btn-main">FAQ</a></span>
			</li>
			<li>
				<span class="name"><a href="{% url 'reviews' %}" class="btn-main">Reviews</a></span>
			</li>
			<li>
				<span class="name"><a href="{% url 'contacts' %}" class="btn-main">Contact Us</a></span>
			</li>
		</ul>
	</nav>
	<!-- //end Off Canvas Menu -->

	<div id="outer">
		<div id="outer-canvas">
			<!-- Navbar -->
			<header class="variant3">

				<!-- Back to top -->
				<div class="back-to-top"><span class="flaticon-uniE009"></span>on top</div>
				<!-- //end Back to top -->

				<section class="navbar">
					<div class="background">
						<div class="container">
							<!-- Logo -->
							<div class="navbar-logo pull-left"> <img src="{% static 'app/images/electrical/logo.gif' %}"
									alt="" /> <a class="logo" href="index.html">MB&nbsp;Electricals</a>
								<div class="header-img"><img src="{% static 'app/images/electrical/header-img.png' %}"
										alt="" /></div>



							</div>


							<!-- //end Logo -->
							<!-- Phone -->
							<div class="navbar-contact pull-right">
								<a href="tel:9601657865" class="
											btn btn-default btn-labeled
											pull-right
										">
									<span class="btn-label"><i class="icon icon-mobile"></i></span>Request a
									callback</a>
								<div class="navbar-phone pull-right">
									24/7 Emergency Service, Call<strong>
										960-165-7865</strong>
								</div>
							</div>
							<!-- //End Phone -->
						</div>
						<!-- Main menu -->
						<div id="navbar-main-menu-outer">
							<div class="container">
								<dl class="navbar-main-menu hidden-xs">
									<dt class="item">
										<a href="{% url 'index' %}" class="btn-main">Home</a>
									</dt>
									<dd></dd>
									<dt class="item">
										<a href="{% url 'services' %}" class="btn-main">Services</a>
									</dt>
									<dd></dd>
									<dt class="item">
										<a href="{% url 'rates' %}" class="btn-main">Rates</a>
									</dt>
									<dd></dd>
									<dt class="item">
										<a href="{% url 'faq' %}" class="btn-main">FAQ</a>
									</dt>
									<dd></dd>
									<dt class="item">
										<a href="{% url 'reviews' %}" class="btn-main">Reviews</a>
									</dt>
									<dd></dd>
									<dt class="item">
										<a href="{% url 'contacts' %}" class="btn-main">Contact Us</a>
									</dt>
									<dd></dd>
								</dl>
								<!-- Search -->
								<form class="
									navbar-search
									form-inline
									visible-lg
									pull-right
								" role="form">
									<div class="form-group">
										<button type="submit" class="button">
											<span class="icon-search-2"></span>
										</button>
										<input type="text" class="form-control" value="Search"
											onblur="if (this.value == '') {this.value = 'Search';}"
											onfocus="if(this.value == 'Search') {this.value = '';}" />
									</div>
								</form>
								<!-- //end Search -->
							</div>
						</div>

						<!-- //end Main menu -->
					</div>
					<!-- Mobile menu -->
					<div class="container visible-xs">
						<div class="mobile-nav row">
							<div class="nav-item item-01"><a href="#" id="off-canvas-menu-toggle"><span
										class="icon icon-list-4"></span></a>
							</div>
							<div class="nav-item item-02"><a href="#"></a></div>
							<div class="nav-item item-03"><a href="#"></a></div>
							<div class="nav-item item-04"><a href="#"><span class="icon icon-search-2"></span></a>
								<div class="tab-content">
									<!-- Search -->
									<form class="navbar-search form-inline" role="form">
										<div class="form-group">
											<button type="submit" class="button"><span
													class="icon-search-2"></span></button>
											<input type="text" class="form-control" value="Search"
												onblur="if (this.value == '') {this.value = 'Search';}"
												onfocus="if(this.value == 'Search') {this.value = '';}">
										</div>
									</form>
									<!-- //end Search -->
								</div>
							</div>
						</div>
					</div>

					<!-- //end Mobile menu -->
					<!-- Navbar switcher -->
					<div class="navbar-switcher-container">
						<div class="navbar-switcher"> <span class="i-inactive"><img
									src="images/electrical/icon-electric.png" alt=""></span> <span
								class="i-active icon-cancel-3"></span> </div>
					</div>
					<!-- //end Navbar switcher -->

				</section>

				<!-- Navbar height -->
				<div class="navbar-height-inner"></div>
				<!-- Navbar height -->

				<!-- Navbar height -->
				<div class="navbar-height"></div>
				<!-- Navbar height -->

			</header>
			<!-- //end Navbar -->

			<!-- Social widgets -->
			<section class="social-widgets hidden-xs">
				<ul class="items">
					<li class="item item-01 facebook"> <a href="social/facebook.html" class="tab-icon"><span
								class="icon-facebook-3"></span></a>
						<div class="tab-content">
							<div class="title">FACEBOOK</div>
							<div class="loading"><img src="images/ajax-loader.gif" alt="" class="ajaxloader"></div>
						</div>
					</li>
					<li class="item item-02 twitter"> <a href="social/twitter.html" class="tab-icon"><span
								class="icon-twitter-3"></span></a>
						<div class="tab-content">
							<div class="title">TWITTER FEEDS</div>
							<div class="loading"><img src="images/ajax-loader.gif" alt="" class="ajaxloader"></div>
						</div>
					</li>
					<li class="item item-03 youtube"> <a href="social/youtubevideo.html" class="tab-icon"><span
								class="icon icon-youtube-3"></span></a>
						<div class="tab-content">
							<div class="title">Video</div>
							<div class="loading"><img src="images/ajax-loader.gif" alt="" class="ajaxloader"></div>
						</div>
					</li>
				</ul>
			</section>
			<!-- //end Social widgets -->
			<!-- Breadcrumbs -->
			<section class="container">
				<nav class="breadcrumbs"> <a href="{% url 'index' %}">Home</a> <span class="divider">&#8250;</span>
					Services </nav>
			</section>
			<!-- //end Breadcrumbs -->
			<section class="content grey-container">
				<div class="container">
					<h2> Our Services</h2>
					<div class="row">
						<div class="col-sm-6 col-md-3 col-lg-3 text-center">
							<div class="icon-circle icon-circle-lg animate scale"><span
									class="icon flaticon-uniE017"></span></div>
							<h3>Residential Electrical Services</h3>
							<div class="font-lg">
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
									egestas. Sed in
									velit et lacus ullamcorper imperdiet. Curabitur quis tortor. Proin ac risus.</p>
							</div>
							<p><a href="#" class="btn btn-default">read more</a></p>
						</div>
						<div class="divider-sm visible-xs"></div>
						<div class="col-sm-6 col-md-3 col-lg-3 text-center">
							<div class="icon-circle icon-circle-lg animate scale"><span
									class="icon flaticon-uniE035"></span></div>
							<h3>Diagnosis and Repair</h3>
							<div class="font-lg">
								<p>Fusce tincidunt, justo congue egestas molestie, tortor tortor blandit erat, et
									scelerisque metus
									metus at ipsum. Ut condimentum mattis est. Duis sit amet augue. Duis sollicitudin
									commodo. </p>
							</div>
							<p><a href="#" class="btn btn-default">read more</a></p>
						</div>
						<div class="divider-sm visible-xs xisible-sm"></div>
						<div class="col-sm-6 col-md-3 col-lg-3 text-center">
							<div class="icon-circle icon-circle-lg animate scale"><span
									class="icon flaticon-uniE02F"></span></div>
							<h3>Installation and<br>
								Upgrades</h3>
							<div class="font-lg">
								<p>Nulla mauris ipsum, convallis ut, vestib ulum eu, tincidunt vel, nisi. Curabitur mol
									Integer semper,
									velit ut interdum males uada, diam dolor pellentesque lacus, vitae commodo orci nisi
									et sem. </p>
							</div>
							<p><a href="#" class="btn btn-default">read more</a></p>
						</div>
						<div class="divider-sm visible-xs"></div>
						<div class="col-sm-6 col-md-3 col-lg-3 text-center">
							<div class="icon-circle icon-circle-lg animate scale"><span
									class="icon flaticon-uniE028"></span></div>
							<h3>Electrical System<br>
								Maintenance</h3>
							<div class="font-lg">
								<p>Fusce tincidunt, justo congue egestas scelerisque metus metus at ipsum. Nunc
									tristique pede. Ut
									condimentum mattis est. Duis sit amet augue. Duis sollicitudin, dui ac commodo. </p>
							</div>
							<p><a href="#" class="btn btn-default">read more</a></p>
						</div>
					</div>
					<div class="divider-lg"></div>
				</div>
			</section>
			<section class="content">
				<div class="container">
					<div class="row">
						<div class="divider-lg"></div>
						<div class="col-sm-5 col-md-4 text-center"><img src="images/electrical/img-services-1.jpg"
								alt="" class="img-responsive" /></div>
						<div class="divider-md visible-xs"></div>
						<div class="col-sm-7 col-md-8">
							<h2><span class="thin">24/7 Emergency Service, Call</span><span class="color">
									123-456-7890</span></h2>
							<div class="title"><strong>Integer ligula magna, </strong><span> lorem ipsum dolor</span>
							</div>
							<div class="font-lg">
								<p>Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum eu, tincidunt vel,
									nisi. Curabitur
									molestie euismod erat. Proin eros odio, mattis rutrum, pulvinar et, egestas vitae,
									magna. Integer
									semper, velit ut interdum malesuada, diam dolor pellentesque lacus, vitae commodo
									orci nisi et sem.
									Pellentesque adipiscing nisi. Nulla facilisi. Mauris lacinia lectus sit amet felis.
									Aliquam erat
									volutpat. Nulla porttitor tortor at nisl. Nam lectus nulla, bibendum pretium, dictum
									a, mattis nec,
									dolor. Nullam id justo sed diam aliquam tincidunt. Duis sollicitudin, dui ac commodo
									iaculis, mi risus
									sagittis odio, vel ultrices enim sem ut pede. Aenean quam. </p>
								<p>Nulla neque purus, ullamcorper nec, eleifend at, fermentum ut, turpis. Mauris et
									ligula quis erat
									dignissim imperdiet. Integer ligula magna, dictum et, pulvinar non, ultricies ac,
									nibh. </p>
							</div>

						</div>
					</div>
					<div class="divider-lg"></div>
				</div>
			</section>
			<section class="content grey-container">
				<div class="container">
					<div class="text-center">
						<h2>Why Choose MB Electricals </h2>
					</div>
					<div class="wrapper">
						<div class="inline-block text-center">
							<div class="icon-circle animate scale"><span class="icon flaticon-uniE00B"></span></div>
							<p>Bonded & Insured</p>
						</div>
						<!-- 
				-->
						<div class="inline-block text-center">
							<div class="icon-circle animate scale"><span class="icon flaticon-uniE018"></span></div>
							<p>Free In-Home Quotes</p>
						</div>
						<!-- 
				-->
						<div class="inline-block text-center">
							<div class="icon-circle animate scale"><span class="icon flaticon-uniE022"></span></div>
							<p>Licensed Experts</p>
						</div>
						<!-- 
				-->
						<div class="inline-block text-center">
							<div class="icon-circle animate scale"><span class="icon flaticon-uniE02D"></span></div>
							<p>Workmanship & Parts Guaranteed</p>
						</div>
						<!-- 
				-->
						<div class="inline-block text-center">
							<div class="icon-circle animate scale"><span class="icon flaticon-uniE008"></span></div>
							<p>Upfront, Flat Rate Pricing</p>
						</div>
						<!-- 
				-->
						<div class="inline-block text-center">
							<div class="icon-circle animate scale"><span class="icon flaticon-uniE039"></span></div>
							<p>Courteous, Uniformed Professionals</p>
						</div>
						<!-- 
				-->
						<div class="inline-block text-center">
							<div class="icon-circle animate scale"><span class="icon flaticon-uniE004"></span></div>
							<p>Scheduled Appointment Times</p>
						</div>
						<!-- 
				-->
						<div class="inline-block text-center">
							<div class="icon-circle animate scale"><span class="icon flaticon-uniE02B"></span></div>
							<p>Special Offers</p>
						</div>
					</div>
				</div>
			</section>
			<!-- Social navbar -->
			<section class="content nopad-xs">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-6  col-lg-6 newsletter collapsed-block">
							<div class="row">
								<div class="col-lg-5  col-md-12 col-sm-12 ">
									<h4>NEWSLETTER SIGNUP <a class="expander visible-xs" href="#TabBlock-1">+</a></h4>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-6 tabBlock" id="TabBlock-1">
									<p>Enter your email and we'll send you a coupon with 10% off your next order.</p>
									<form class="form-inline" role="form">
										<div class="form-group input-control">
											<button type="submit" class="button"><span
													class="icon-envelop"></span></button>
											<input type="text" class="form-control" value="Your E-mail..."
												onblur="if (this.value == '') {this.value = 'Your E-mail...';}"
												onfocus="if(this.value == 'Your E-mail...') {this.value = '';}">
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 collapsed-block">
							<h4>FIND US ON<a class="expander visible-xs" href="#TabBlock-2">+</a></h4>
							<div class="tabBlock" id="TabBlock-2">
								<ul class="find-us">
									<li class="divider"><a href="#" class="animate-scale"><span
												class="icon icon-facebook-3"></span></a>
									</li>
									<li class="divider"><a href="#" class="animate-scale"><span
												class="icon icon-twitter-3"></span></a>
									</li>
									<li class="divider"><a href="#" class="animate-scale"><span
												class="icon icon-linkedin-2"></span></a>
									</li>
									<li class="divider"><a href="#" class="animate-scale"><span
												class="icon icon-youtube-3"></span></a>
									</li>
									<li class="divider"><a href="#" class="animate-scale"><span
												class="icon icon-pinterest-2"></span></a>
									</li>
									<li class="divider"><a href="#" class="animate-scale"><span
												class="icon icon-googleplus-2"></span></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- //end Social navbar -->

			<!-- Footer -->
			<footer>
				<section class="footer-navbar">
					<div class="container content nopad-xs">
						<div class="row">
							<div class="col-sm-6 col-md-4 col-lg-4 hidden-xs animate fadeUp">
								<div class="copyright-text"> © 2021 MB Electricals. All Rights Reserved. </div>
								<div class="footer-logo"><img src="images/electrical/logo.png" alt=""
										class="img-responsive" /><a href="#"><span class="color">Electrical</span>
										Experts</a></div>
							</div>
							<div class="col-sm-6 col-md-8 col-lg-8">
								<div class="row">
									<div class="col-sm-6 col-md-4 col-lg-4  collapsed-block animate fadeUp">
										<h5>Information<a class="expander visible-xs" href="#TabBlock-3">+</a></h5>
										<div class="tabBlock" id="TabBlock-3">
											<ul class="menu">
												<li><a href="electrical-team.html">About Us</a></li>
												<li><a href="#">Privacy Notice</a></li>
												<li><a href="#">Conditions of Use</a></li>
											</ul>
										</div>
									</div>
									<div class="clearfix visible-sm"></div>
									<div class="col-sm-6 col-md-4 col-lg-4  collapsed-block animate fadeUp">
										<h5>Customer service<a class="expander visible-xs" href="#TabBlock-4">+</a></h5>
										<div class="tabBlock" id="TabBlock-4">
											<ul class="menu">
												<li><a href="#">Online support</a></li>
												<li><a href="#">Help & FAQs</a></li>
												<li><a href="#">Call Center</a></li>
											</ul>
										</div>
									</div>
									<div class="col-sm-6 col-md-4 col-lg-4 collapsed-block animate fadeUp">
										<h5>CUSTOM HTML BLOCK<a class="expander visible-xs" href="#TabBlock-6">+</a>
										</h5>
										<div class="tabBlock" id="TabBlock-6">
											<ul class="menu">
												<li><span class="icon icon-house"></span> 7563 St. Vincent Place,
													Glasgow</li>
												<li><span class="icon icon-phone-4"></span> 321321321, 321321321</li>
												<li><span class="icon icon-envelop"></span> <a
														href="mailto:info@mydomain.com">info@mydomain.com</a></li>
												<li><span class="icon icon-skype-2"></span> <a href="#">shop.test</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</footer>
			<div id="outer-overlay"></div>
			<!-- //end Footer -->
		</div>
	</div>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	<script src="{% static 'app/js/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'app/js/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'app/js/jquery.ui.touch-punch.min.js' %}"></script>
	<script src="{% static 'app/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'app/js/jquery.flexslider.js' %}"></script>
	<script src="{% static 'app/js/jquery.parallax.js' %}"></script>
	<script src="{% static 'app/js/jquery.inview.js' %}"></script>
	<script src="{% static 'app/js/superfish.js' %}"></script>
	<script src="{% static 'app/js/supersubs.js' %}"></script>
	<script src="{% static 'app/js/jquery.glide.js' %}"></script>
	<script src="{% static 'app/js/jquery.lettering-0.6.min.js' %}"></script>
	<script src="{% static 'app/js/jquery.jscrollpane.min.js' %}"></script>
	<script src="{% static 'app/js/electrical.js' %}"></script>
</body>

</html>